{% extends "base.html" %}

{% block content %}
<form method="post">
  <div class="form-group">
    <label for="Subject">Subject</label>
    <input type="text" class="form-control" id="Subject" name="subject" value="{{subject}}">
  </div>
  <div class="form-group">
    <label for="Content">Blog</label>
    <textarea class="form-control" rows="6" name="content">{{content}}</textarea>
  </div>
  {% if error %}
  <div class="alert alert-danger" role="alert">
    <strong>{{error}}</strong>
  </div>
  {% endif %}    


  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
